<?xml version="1.0" encoding="iso-8859-1"?>
<Configuration status="debug" strict="true">

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%m%n"/>
        </Appender>
        <RollingFile name="RollingFile" fileName="logs/sgbd.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <root  level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </root>
    </Loggers>
</Configuration>